.logoHeading {
  color: aliceblue;
}
.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logoContainer {
  float: left;
  width: 35%;
  /* background-color: red; */
}
.routesContainer {
  float: right;
  background-color: green;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.routeName {
  color: white;
}
.btn {
  height: 50px;
  background-color: yellow;
  width: 20%;
}
